.container {
display: flex;
justify-content: center;
padding-top: 2vw;
padding-left: 2%;
padding-right: 2%;
}.carta{
    border-radius: 10%;
    padding: 2% 1% 2% 1%;
}

.nombre {
  display: flex;
  justify-content: center;
  font-size: 210%;
  font-weight: 600;
}
.imagen {
  width: 80%;
}
.divImagen {
  justify-content: center;
  display: flex;
}
.stats {
  font-size:210%;
  font-weight: 600;
  display: flex;
  justify-content: center;
}
.divStats {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 2%;
}
.caracteristicas {
  font-size: 210%;
  font-weight: 600;
  display: flex;
  justify-content: center;
}
.divCaracteristicas {
  display: flex;
  justify-content: center;
  column-gap: 2%;
}
.divTipo {
  padding-top: 2%;
  display: flex;
  justify-content: center;
  column-gap: 2%;
}
.divEstadisticas {
  display: flex;
  flex-direction: column;
}
.stat,
.caracteristica {
  font-size:150%;
  font-weight: 600;
}
.spanStat,
.spanCaracteristica {
  font-size: 100%;
  color: rgb(170, 170, 170);
}
.divCaracteristica {
  display: flex;
  flex-direction: column;
}
